@charset "utf-8";
/* CSS Document */

#logo {
	padding-right: 53px;
}
.btn {
	padding-top: 3px;
}
.banner {
	background-image: url("jumbotron.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}